************************ UpdateMQ Informações ******************************
{{ lookup('pipe','date +%Y-%m-%d') }} {{ lookup('pipe','date +%H:%M:%S') }} {{ inventory_hostname }}: Estes logs estão relacionados aos processos de coleta e validação antes da atualização do IBM MQ.
{{ lookup('pipe','date +%Y-%m-%d') }} {{ lookup('pipe','date +%H:%M:%S') }} {{ inventory_hostname }}: Olá, eu sou o servidor {{ ansible_hostname }} e faço parte do processo de UpdateMQ versão {{ updatemq_version }}
{{ lookup('pipe','date +%Y-%m-%d') }} {{ lookup('pipe','date +%H:%M:%S') }} {{ inventory_hostname }}: Realizamos um levantamento de informações antes do processo de atualização:

-----------------------------
INFORMAÇÃO DO SERVIDOR
-----------------------------
Hostname: .................. {{ ansible_fqdn }}
Distribuição: .............. {{ ansible_distribution }}
Release: ................... {{ ansible_distribution_version }}
Versão do kernel: .......... {{ ansible_kernel }}
SELinux Status: ............ {{ ansible_selinux.status }}
IPV4: ...................... {{ ansible_all_ipv4_addresses }}
Arquitetura: ............... {{ ansible_architecture }}
Virtual/Fisico: ............ {{ ansible_virtualization_type }}
{% set uptime_days = (ansible_uptime_seconds / 86400) | int %}
{% set uptime_hours = ((ansible_uptime_seconds % 86400) / 3600) | int %}
{% set uptime_minutes = ((ansible_uptime_seconds % 3600) / 60) | int %}
{% if uptime_days > 0 %}
Uptime: .................... {{ uptime_days }} dias
{% elif uptime_hours > 0 %}
Uptime: .................... {{ uptime_hours }} horas
{% else %}
Uptime: .................... {{ uptime_minutes }} minutos
{% endif %}
CPUs ....................... {{ ansible_processor_vcpus }}
Memória: ................... {{ (ansible_memtotal_mb / 1024) | round(2) }} GB

-----------------------------
INFORMAÇÃO DO IBM MQ
-----------------------------
Versão: .................... {{ mq_health.version.Version | default('N/A') }}
Nivel: ..................... {{ mq_health.version.Level | default('N/A') }}
Plataforma: ................ {{ mq_health.version.Platform | default('N/A') }}
Instalação: ................ {{ mq_health.version.InstName | default('N/A') }}
Caminho Instalação: ........ {{ mq_health.version.InstPath | default('N/A') }}
Caminho Dados: ............. {{ mq_health.version.DataPath | default('N/A') }}
Tipo Licença: .............. {{ mq_health.version.LicenseType | default('N/A') }}

Queue Managers Descobertos:
{% for qmgr in mq_health.qmgrs_all %}
  - {{ qmgr.name }} -> {{ qmgr.status }}
{% endfor %}

Queue Managers Ativos:
{% for qmgr in mq_health.qmgrs_running %}
  - {{ qmgr }}
{% else %}
  Nenhum ativo encontrado
{% endfor %}

Listeners:
{% for listener in mq_health.listeners %}
  {{ listener }}
{% else %}
  Nenhum listener encontrado
{% endfor %}

Canais:
{% for ch in mq_health.channels %}
  {{ ch }}
{% else %}
  Nenhum canal encontrado
{% endfor %}

Filas:
{% for q in mq_health.queues %}
  {{ q }}
{% else %}
  Nenhuma fila encontrada
{% endfor %}

-----------------------------
VALIDAÇÃO DAS INFORMAÇÔES DOS PREREQUISITOS
-----------------------------
Espaço em disco /: ............... {{ ansible_local.root_space_check.localfacts.root_space_check }}
Espaço em disco /boot: ........... {{ ansible_local.boot_space_check.localfacts.boot_space_check }}
FileSystem / em Read-only: ....... {{ ansible_local.root_readonly_check.localfacts.root_readonly_check }}
FileSystem /boot em Read-only: ... {{ ansible_local.boot_readonly_check.localfacts.boot_readonly_check }}
Subscrição: ...................... {{ ansible_local.subscription_check.localfacts.subscription_check }}
Repositórios: .................... {{ ansible_local.repository_check.localfacts.repository_check }}
Pacotes duplicados: .............. {{ ansible_local.rpm_check.localfacts.rpm_check }}
Processos zumbis: ................ {{ ansible_local.zombie_process_check.localfacts.zombie_process_check }}
Servicos não persistentes: ....... {{ ansible_local.services_status_check.localfacts.active_disabled_services_status }}
Servicos e processos zabbix: ..... {{ ansible_local.services_status_check.localfacts.zabbix_service }}
Servicos e processos bigfix: ..... PENDENTE DE AUTOMAÇÃO
MountPoint listados no fstab: .... {{ ansible_local.mount_points_check.localfacts.mount_points_fstab_check }}
MountPoint não listado no fstab: . {{ ansible_local.mount_points_check.localfacts.mount_points_check }}
Validar autenticacao LDAP: ....... PENDENTE DE AUTOMAÇÃO
Uptime/Reboot: ................... {{ ansible_local.uptime_reboot_check.localfacts.uptime_reboot_check }}
Host possui inventario: .......... {{ host_exists_in_inventory }}
Acessivel via Ansible: ........... {{ hosts_reachable }}

*****************************
Servidor Pronto para update: ...... {{ ready_for_update }}
*****************************
